<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">Login</p>
                <form class="login">
                    <input type="text" placeholder="Usuario"  ng-model="usuario.nombre"/>
                    <input type="password" placeholder="Contraseña" ng-model="usuario.clave" />
                    <input type="submit" value="Login" class="btn btn-success btn-sm" ng-click="loginUser()" /> 
                </form>
            </div>
        </div>
    </div>
   
</div>